extends layout 
block content 
    form(action="" method="POST")
        label(for="admin_key") Admin key passcode
        input(type="password" name="admin_key")
        button Apply
    if incorrect 
        p The admin key is not valid.