extends layout 
block content 
    form(action="/users/log-in" method="POST")
        label(for="username") Username 
        input(name="username" type="text")
        label(for="password") Password 
        input(name="password" type="password")
        button Log In