extends layout 
block content
    ul 
        each message in message_list 
            li
                h2= message.title
                p= message.content
                p= message.author.username
                p= message.time_stamp