label,input {
    display: block;
}

.message-list {
    transform: rotate(180deg);
}

.message-list>li {
    transform: rotate(-180deg);
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}